
<p class = "display-4"><%= @user.full_name %></p>



<% if @user.avatar.present? %>
    <img src="<%= (url_for(@user.avatar)) %>" class="img-fluid rounded-circle"><br>
<% end %>
<p><%=mail_to @user.email, :class => "text-primary" %>  
<%if @user.phone.present?%>
//// <%=link_to @user.phone, "tel:#{@user.phone}", :class => "text-primary" %>  
<% end %>
<% if @user.social_media.present?%>
//// <%=link_to 'Social Media', @user.social_media, :class => "text-primary" %> </p>
<% end %>
<% if @user.id == current_user.id || current_user.is_admin?%>
  <%= link_to "Edit Profile", edit_user_path(@user), :class => "text-primary" %>
  <% end %>
<p><%= @user.bio %></p>
<% if @user.id == current_user.id || current_user.is_admin?%>
  <p> <%= link_to "New gear item", new_gear_item_path %></p>
  <% end %>
<% @user.gear_items.each do |item| %>
    <div>
     <% if item.item_images.present? %>
    <img src="<%= (url_for(item.item_images)) %>" class="img-fluid rounded-circle"><br>
<% end %>
   <p> <%=link_to item.name, gear_item_path(:id => item.id) %></p>
    </div>
  <% end %>