
<h2><%= @user.full_name %></h2>
<% if @user.avatar.present? %>
    <img src="<%= (url_for(@user.avatar)) %>"><br>
<% end %>
<p><%= @user.email %>  //// <%= @user.phone %></p>
<p><%= @user.bio %></p>

<% @user.gear_items.each do |item| %>
    <div>
   <p> <%=link_to item.name, gear_item_path(:id => item.id) %></p>
 
    </div>
  <% end %>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Index", users_path %></li>
</ul>