<div id="<%= dom_id gear_item %>">
  <p>
    <strong>Name:</strong>
    <%= gear_item.name %>
  </p>
  <p>
    <% if gear_item.item_images.attached? %>
                <% gear_item.item_images.each do |image| %>
                        <%= image_tag(image) %>
                <% end %>
            <% end %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= gear_item.description %>
  </p>

  <p>
    <strong>Is checked out:</strong>
    <%= gear_item.is_checked_out %>
  </p>

  <p>
    <strong>Owned by:</strong>
    <%=link_to gear_item.owner.full_name, user_path(gear_item.owner.id) %>
  </p>

</div>
