<!DOCTYPE html>
<html>
  <head>
    <title>GearLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1> <%= link_to "Central Kentucky Bikepacking Gear Library", root_path %> </h1>
<% if current_user.present? %>
 Signed In: <%= current_user.full_name %>
<%= link_to "Sign out", users.sign_out_path%> 

  <% else %>
<%= link_to "Sign in", users.sign_in_path %> 
<%= link_to "Sign up", new_user_path%>
<% end %>
    <%= yield %>
  </body>
</html>
