<!DOCTYPE html>
<html>
  <head>
    <title>GearLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  </head>

  <body class="bg-light">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
     <%= link_to "Central Kentucky Bikepacking Gear Library", root_path, :class => "navbar-brand text-secondary" %>

      <% if current_user.present? %>
        
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav  mr-auto">
            
            <li class="nav-item">
              <%=link_to "Members", :users, :class => "nav-link"  %>
            </li>

            <li class="nav-item">
              <%=link_to "Gear", :gear_items, :class => "nav-link"  %>
            </li>
         
            <li class="nav-item">
              <%=link_to "Profile", user_path(:id => current_user.id), :class => "nav-link"  %>
            </li>
            
            <li class="nav-item ">
              <%= link_to "Sign out", users.sign_out_path, :class => "nav-link float-right"  %>
            </li>
          
        </div>  
      <% else %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              
            <li class="nav-item">
              <%= link_to "Sign up", new_user_path, :class => "nav-link"%>
            </li>
                           
            <li class="nav-item">
              <%= link_to "Sign in", users.sign_in_path, :class => "nav-link" %> 
            </li>
        </div>   
      
      <%end%>
    
    </nav>
    <div class="container-fluid" >
    
      <%= yield %>
    
    </div>

  </body>
</html>






